body {
  margin: 40px;
}

  .wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: [main-1] auto [main-2] AUTO [main-3] auto [main-4] auto [main-5] ;
    grid-template-rows: repeat(3,minmax(100px,auto));
    background-color: #fff;
    color: #444;
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;

  }

  .nombre {
    grid-column: main-1 / main-3;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    
  }

  #foto {
    grid-column: main-4 ;


  }

  .presentacion {
    grid-column: main-1;
    grid-row: 2 / 4;
  }

  .temas {
    gap: 10px;
    grid-column: main-2 / main-5;
    grid-row: 2 / 5;
    display: grid;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
  }

  .horario {
    grid-row: 1;
    grid-column: main-2 / main-5;
    text-align: center;
  }
  .tabla {
    margin: auto;
    tab-size: 40px;
  }
  .contacto {
    grid-row: 2;
    grid-column: main-2 / main-5;
  }
  .redes-sociales {
    grid-column: main-2/main-5;
  }
  .enviar {
    background-color: #5874bb;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 100%;
    resize: none;
  }
  .label {
    font-weight: bold;
  }
  .input {
    /*width: 100%;*/
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 100%;
  }
  .ref {
    font-size: 120%;
    font-weight: bold;
    color: #444;
    background: fixed;
    background-color: azure;
    border-radius: 5px;
    text-decoration-line: none;
  }

  footer {
    grid-column: main-5;
    grid-row: 3;
    text-align: center;
    font-size: 80%;
  }
  